<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-4 col-lg-6 col-centered text-center center-block " style="margin-top: 100px">
            <i class="material-icons svg-color">lock_outline</i>
            <h2>Reset Password</h2>
            <form>
                <div class="form-group center-block">
                    <label for="exampleInputPassword1"></label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <p class="text-green">Your password is very strong</p>
                    <button type="button" class="btn btn-success btn-changable">SUBMIT</button>

                </div>
            </form>
        </div>
    </div>
</div>