<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-4 col-lg-6 col-centered text-center center-block ">
      <p class="text-red"><i class="material-icons">warning</i> LINK IS NOT VALID. Lorem ipsum dolor sit amet.</p>
      <i class="material-icons svg-color">lock_outline</i>
      <h2>Log in</h2>
      <form>
        <div class="form-group center-block">
          <input type="text" class="form-control" id="exampleText" placeholder="Enter your username">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
          <a href="" class="float-left">Forgot password?</a>
          <div class="col-md-4 col-centered text-center">
          <button type="button" class="btn btn-success btn-changable">LOG IN</button>
            <p> Or log in with:</p>
          <button type="button" class="btn btn-success btn-facebook text-center">fb</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>