<!--<nav class="navbar navbar-toggleable-md navbar-light bg-navbar">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-2 float-left">-->
        <!--<img class="img-responsive" src="../assets/img/smiljan-header.png"/>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 marginleft">-->
      <!--<button type="button" class="btn btn-link btn-none  font-size"><i class="material-icons">info</i>HELP-->
      <!--</button>-->

      <!--<button type="button" class="btn btn-link btn-none  font-size"><i class="material-icons">book</i>COURSES-->
      <!--</button>-->
      <!--<button type="button" class="btn btn-primary btn-margins font-size"><i-->
              <!--class="material-icons">account_box</i>MY-->
        <!--ACCOUNT-->
      <!--</button>-->
      <!--<button type="button" class="btn btn-primary btn-margins font-size"><i class="material-icons">lock</i>LOG-->
        <!--OUT-->
      <!--</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
<header class="clearfix bg-navbar">
  <div class="container">
    <div class="header-left" style="padding: 10px;">
      <img class="img-responsive" src="../assets/img/smiljan-header.png"/>
    </div>
    <div class="header-right">
      <label for="open">
        <span class="hidden-desktop"></span>
      </label>
      <input type="checkbox" name="" id="open">
      <nav>
        <a  href="" style="margin-right: 25px"><button type="button" class="btn btn-link btn-none  font-size" style="margin-top: 10px"><i class="material-icons">info</i>HELP
        </button></a>

        <a href="" style="margin-right: 25px"><button type="button" class="btn btn-link btn-none  font-size" style="margin-top: 10px"><i class="material-icons">book</i>COURSES
        </button></a>
        <a href=""><button type="button" class="btn btn-primary btn-margins font-size"><i
        class="material-icons">account_box</i>MY
        ACCOUNT
        </button></a>
        <a href=""><button type="button" class="btn btn-primary btn-margins font-size"><i class="material-icons">lock</i>LOG
        OUT
        </button></a>
      </nav>
    </div>
  </div>
</header>