<nav class="navbar fixed-bottom navbar-light bg-navbar responsive-class" id="footer">
  <div class="container">
      <div class="col-md-4 font-size p-margin">
        <h5 class="font-weight">ABOUT US</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum auctor fringilla. In iaculis
          risus in vehicula tempus. Etiam tristique, magna in auctor mollis, erat sem maximus sapien</p>
      </div>
      <div class="col-md-4 font-size p-margin">
        <h5 class="font-weight">BECOME A LECTURER</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum auctor fringilla. In iaculis
          risus in vehicula tempus. Etiam tristique, magna in auctor mollis, erat sem maximus sapien</p>
      </div>
      <div class="col-md-4 font-size p-margin">
        <h5 class="font-weight">HEPL</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam condimentum auctor fringilla. In iaculis
          risus in vehicula tempus. Etiam tristique, magna in auctor mollis, erat sem maximus sapien</p>
      </div>
    </div>
</nav>
<nav class="navbar fixed-bottom navbar-light navbarlast-style">
  <div class="container">
    <div class="col-md-12 text-center">
      All rights reserved &reg; 2016 | <a href="">Terms</a> <a href="">Privacy & Policy</a>
    </div>
  </div>
</nav>